body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

main {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #73AD21;
}

header h1{
  margin: 5px;
}

header h3 {
  margin: -5px 0 5px 0;
}

#updates {
  margin-top: 20px;
}

section#social-media-icons a {
  text-decoration: none;
}
