body {
  text-align: center;
}

main {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #73AD21;
}

h2 {
  margin-bottom: 5px;
}

#updates {
  margin-top: 20px;
}

section#social-media-icons a {
  text-decoration: none;
}
